body {
		background-color: #8B008B;
}

h1 {
		font-size: 22px;
		font-family: arial;
}


h2 {
		font-size: 22px;
		font-family: arial;
		
}

p {
	
		color: white;
		background-color: black;
		
}
	


/* Table settings */
	
table {
		table-layout:fixed;
}

table, th, td {
		border: 1px solid black;
}
table {
		border-collapse: collapse;
		width: 100%;
}
tr:nth-child(odd) {
		background-color: red;
}

tr:nth-child(even) {
		background-color: yellow;
}

th {
		background-color: white;
}

.container  {
	display: grid;
	width: 90%;
	max-width: 50rem;
	margin: 0 auto;
}



.item-a {
	display: table-cell;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: red;
}
.item-b {
	display: table-cell;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}
.item-c {
	display: table-cell;
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.item-d {
	display: table-cell;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
	background-color: blue;
}
.item-e {
	display: table-cell;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}
























